.card-external {
  align-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
  display: flex;
  height: 549px;
  justify-content: center;
  width: 368px;
}

.card-internal {
  background: #036b52;
  border-radius: 10px;
  height: 529px;
  padding: 16px;
  width: 348px;
}

.input-form {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.space-inline {
  display: flex;
  gap: 5px;
}

.btn {
  width: 100px;
}
