.preview-card {
  align-items: center;
  background: #023031;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 90px;
  height: 1056px;
  padding-top: 80px;
  width: 763px;
}
.header {
  color: white;
}
.card-external {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 368px;
  height: 549px;

  background: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.card-internal {
  width: 348px;
  height: 529px;
  padding: 16px;
  background: #036B52;
  border-radius: 10px;
}

.input-form {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.space-inline {
  display: flex;
  gap: 5px;
}

.btn {
  width: 100px;
}
