body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body-game {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.header {
  color: white;
}

.form-add-card {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 1056px;
  padding-top: 80px;
  width: 763px;
}

.preview-card {
  align-items: center;
  background: #023031;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 90px;
  height: 1056px;
  padding-top: 80px;
  width: 763px;
}

.card-Create {
  display: flex;
  width: 1440px;
  height: 1056px;
  margin: 0 auto;
  text-align: center;
}
